<main>
  <article>

    <!-- 
        - #SERVICE
      -->

    <section class="section service has-bg-image" aria-labelledby="service-label"
      style="background-image: url('assets/images/service-bg.png')">
      <div class="container">

        <h2 class="section-title headline-md text-center" id="service-label">My Services</h2>

        <ul class="service-list">

          <!-- <li class="card-container">
              <div class="card card-md" style="background-color: hsl(177, 39%, 72%)">

                <div class="card-media" style="font-size: 30px;">
                  <ion-icon name="phone-portrait-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Web Design</h3>

                  <p class="body-sm">
                    From responsive layouts and intuitive navigation to seamless user experiences, our web design services ensure your online presence leaves a lasting impression and drives results.
                  </p>
                </div>

              </div>
            </li> -->

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(41, 99%, 64%)">

              <div class="card-media" style="font-size: 30px;">
                <ion-icon name="code-slash-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Front-end Developer</h3>

                <p class="body-sm body-content">
                  Our front-end development services provide expert coding and implementation of HTML, CSS, and
                  JavaScript to create visually appealing and user-friendly interfaces that enhance the user experience.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(19, 97%, 85%)">

              <div class="card-media" style="font-size: 30px;">
                <ion-icon name="stats-chart-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">SEO</h3>

                <p class="body-sm body-content">
                  Our SEO services optimize your website's visibility and rankings on search engines, utilizing
                  effective strategies such as keyword research, on-page optimization, link building, and analytics to
                  drive organic traffic and improve online presence.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(221, 100%, 79%)">

              <div class="card-media" style="font-size: 30px;">
                <ion-icon name="shapes-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Facebook Ads</h3>

                <p class="body-sm body-content ">
                  Our Facebook Ads services leverage the power of targeted advertising and strategic campaign management
                  to help you reach your target audience, increase brand awareness, and drive measurable results.
                </p>
              </div>

            </div>
          </li>

          <!-- <li class="card-container">
              <div class="card card-md" style="background-color: hsl(76, 39%, 72%)">

                <div class="card-media" style="font-size: 30px;">
                  <ion-icon name="code-slash-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Development</h3>

                  <p class="body-sm">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                  </p>
                </div>

              </div>
            </li> -->

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(245, 100%, 90%)">

              <div class="card-media">
                <ion-icon name="globe-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">AI Content Writer</h3>

                <p class="body-sm body-content">
                  Our AI-powered content writing services provide high-quality, captivating content that is customized to your unique requirements and can be modified, saving you time and effort. 
                </p>
              </div>

            </div>
          </li>

        </ul>

      </div>
    </section>

  </article>
</main>